body {
    display: block;
    font-family: sans-serif;
}

.calc {
    display: block;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 225px;
    height: 345px;
    padding: 5px;
    background: #111;
}

.row {
    display: block;
    float: left;
    width: 100%;
}

.container {
    display: block;
    width: 215px;
    height: 50px;
    border: #0a8 solid 1px;
    border-radius: 5px;
    margin: 5px 0 5px 5px;
    background: #0a8;    
}

.disp {
    display: block;
    color: #fff;
    font-size: 18px;    
    width: 200px;
}

.blockbtns {
    display: block;
    height: 100%;
    margin: 0px;
}

.btn {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    border: 0px solid black;
    font-weight: bold;
    border-radius: 5px;
    background: -webkit-linear-gradient(#fff, #acc);
    margin: 3px;    
}

#cls {
    width: 162px;
}

#n0 {
    width: 162px;
}

.btn:hover {
    background: -webkit-linear-gradient(#fff, #dff);
}